.buttonsContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 26px;
}

.responseContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    min-height: 120px;
    box-shadow: rgba(0, 0, 0, 0.03)
}

.imageContainer {
    flex-shrink: 0;
}

.image {
    width: 60px;
    height: 60px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.code {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
    margin: 0;
}