.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    gap: 10px;
}

.text1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    margin-left: 24px;
}

.text2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
}

@media (max-width: 768px) {
    .pagination {
        flex-wrap: wrap;
        gap: 5px;
    }

    .text1 {
        margin-left: 0;
    }
}